<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    </head>
    <body>
        <div ng-controller="indexCtrl">
            <table class="table">
                <tr ng-repeat="skill in odesk">
                   <td>{{skill.name}}</td>
                   <td>{{skill.num}}</td>
                </tr>
            </table>
        </div>
        <script type="application/javascript" src="@routes.Application.requireJsConfig()"></script>
        <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js"))"></script>
    </body>
</html>
